@import "tailwindcss";
@import "@fontsource/geist-sans";
@import "@fontsource/geist-mono";

body {
  font-family: 'Geist Sans', sans-serif;
}

/* removing ugly buttons in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes the default appearance */
  margin: 0; /* Removes any default margin */
}

/* For Mozilla Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Resets the appearance to a standard text field */
}